{% extends 'base.html.twig' %}

{% block title %}Page de résultat!{% endblock %}

{% block body %}
<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        
        <div class="row justify-content-end">
            <div class="col-auto">
                <form class="form-inline" method="POST" action="{{ path('app_recherche') }}">
                <div class="input-group">
                    <input type="text" class="form-control" name="recherche" placeholder="{{ recherche }}">
                    <input type="hidden" class="form-control" name="filtre" value="{{ filtre }}">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
                </form>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary" onclick="afficher()">Afficher tout</button>
            </div>
        </div>

        <div class="section-title">
          <h2>{{filtre_titre}}</h2>
        </div>

        <div class="row">
            <!--div tableau-->
            <span id="spanall"><span class="bi bi-info-circle"></span> Veuiller cliquer sur le bouton "Afficher tout" pour réinitialiser l'affichage des données</span>
            <div class="col" id="tab" style="display:none;">
                <table class="table table-bordered border-primary" id="taleaures">
                    
                </table>
                <p id="afficheres"></p>
                <div class="row" id="suivantprecedent">
                    <div class="col">
                        <button class="btn btn-light" id="prec">Précédent</button>
                        <button class="btn btn-light" id="suiv">Suivant</button>
                    </div>
                </div>
            </div>
            <!--div chargement-->
            <div class="col" id="loadingDiv" style="display:none;">
                <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Chargement en cours...</span>
                </div>
                </div>
            </div>
        </div>

        
      </div><!--end container-->
    </section><!-- End About Section -->
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function() {
        var response = '{{ result|raw }}';
        var filtre = '{{ filtre }}';
        response = JSON.parse(response);
        var p = 1;
        //$('#loadingDiv').show();
        $('#tab').show();
        // Afficher les résultats
        $('#afficheres').html('Affichage de '+response.count+' résultat(s)');
        if (response.previous === null) { $('#prec').hide(); }
        else {
            //valeur prochaine page
            $('#prec').show();
            page = response.previous.charAt(response.previous.length - 1); 
            $('#prec').attr('onclick', 'precedent('+page+')');
        }
        if (response.next === null) { $('#suiv').hide(); }
        else {
            $('#suiv').show();
            //valeur prochaine page
            page = response.next.charAt(response.next.length - 1); 
            $('#suiv').attr('onclick', 'suivant('+page+')');
        }
        afficheHTML(filtre,response.results,p);
    });
</script>
<script src="{{asset('js/affichage.js')}}"></script>
{% endblock %}